<web-app>

    <servlet>
        <servlet-name>loadAppartements</servlet-name>
        <jsp-file>/jsp/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>loadStudio</servlet-name>
        <jsp-file>/jsp/studio.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>loadT1</servlet-name>
        <jsp-file>/jsp/t1.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>loadT2</servlet-name>
        <jsp-file>/jsp/t2.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>loadT3</servlet-name>
        <jsp-file>/jsp/t3.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>register</servlet-name>
        <jsp-file>/jsp/register.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>manage</servlet-name>
        <jsp-file>/jsp/manage.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>registerInBdd</servlet-name>
        <servlet-class>vousloger.servlet.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkUser</servlet-name>
        <servlet-class>vousloger.servlet.CheckUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deconnexion</servlet-name>
        <servlet-class>vousloger.servlet.Deconnexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saleAnAppartement</servlet-name>
        <servlet-class>vousloger.servlet.SaleAnAppartement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeAnAppartement</servlet-name>
        <servlet-class>vousloger.servlet.RemoveAnAppartement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>vousloger.servlet.Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addAppartement</servlet-name>
        <servlet-class>vousloger.servlet.AddAppartement</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loadAppartements</servlet-name>
        <url-pattern>/loadAppartements</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadStudio</servlet-name>
        <url-pattern>/loadStudio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadT1</servlet-name>
        <url-pattern>/loadT1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadT2</servlet-name>
        <url-pattern>/loadT2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadT3</servlet-name>
        <url-pattern>/loadT3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manage</servlet-name>
        <url-pattern>/manage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerInBdd</servlet-name>
        <url-pattern>/registerInBdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkUser</servlet-name>
        <url-pattern>/checkUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deconnexion</servlet-name>
        <url-pattern>/deconnexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saleAnAppartement</servlet-name>
        <url-pattern>/saleAnAppartement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeAnAppartement</servlet-name>
        <url-pattern>/removeAnAppartement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addAppartement</servlet-name>
        <url-pattern>/addAppartement</url-pattern>
    </servlet-mapping>

</web-app>